@font-face {
    font-family: "Noto Sans KR";
    src: url("../NotoSansKR-Regular.otf");
}

body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
}

body #notice{
    background-color: yellow;
    padding: 5px;
}

header{
    background-color: red;
    display: flex;
    height: 100px;
    padding: 0px 48px;
}

/* 왼쪽사이드와 본문영역을 가진 부모요소 */
.container{
    display: flex;
    /* 브라우저가 작아지면 양옆으로 놓을 공간이 없을때 */
    /* 자동으로 다음줄로 내려가도록...flex-wrap */
    flex-wrap: wrap;
}

aside.side{
    flex: 1;
    background-color: #f1f1f1;
    padding: 0px 48px;
}

aside.side ul{
    list-style: none;
    padding-left: 0px;
}

aside.side li{padding: 7px 0px;}
aside.side li a{color: black; text-decoration: none;}
aside.side li a:hover{color: grey;}

.main{
    flex: 9; /*너비 7할 : 축약형*/
    background-color: white;
    padding: 20px;
}
.main div.product{
    display: inline-block;
    margin: 24px 8px;
}
.main img{    
    width: 500px;    
}
.main div.product p{
    padding: 0px;
    margin: 0px;
}

/* fake image 영역 */
/* 실제로는 이 영역안에 이미지요소를 배치 */
.fakeimg{
    background-color: #aaaaaa;
    width: 100%;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}

/* 반응형 웹 - 미디어쿼리 문법 */
@media screen and (max-width:700px){
    .container, nav{
        flex-direction: column;
    }
}
