@media all and (max-width:800px){
*{margin: 0; padding: 0;}
ul{list-style: none;}

  .top{
      display: none;
      
  }

  #hamberger{
      display: flex;
  }
  header .line2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .line2 .mainCategory{
      display: none;
      
  }

  .line2 .mainCategory a{
      text-decoration: none;
      color: #000000;
  }

  
  .line3 .womenCategory{
      display: none;
  }

 
  #logo{
      margin-left: 12px;
  }
  
  .womenCategory{
      display: inline-flex;
  }

  #nikeWomen{
    padding: 0px 12px;
    margin-left: 10px;
  }

  .womenCategory li{
      padding: 0px 24px;
      margin-left: -28px;
  }

  /* #nikeIndiBraImg{
      display: none;
  } */

  #btn_more_detail{
      display: none;
  }

  #nikeindibraGirlImg{
    width: 94%;
}

#mobileNewSpring{
    width: 94%;
}

#styleForNewStyling{
    display: none;
}

#styleForNewStylingDetail{
    display: none;
}

  .nikeIndiBra p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .nikeIndiBraDetail{
      margin-left: 20px;
  }

  #braBtn{
      
      margin-bottom: 50px;
  }

  #thisWeekStyling{
    font-size: 20px;
    margin-left: 20px;
    font: bold;
  }

  #main4{
      display: none;
  }

  #main5{
      width: 94%;
      margin-left: 20px;
      margin-top: 20px;
      display: flex;
      margin: auto;
      align-items: center;
  }

  #springJacketStyle{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
  }

  #springJacketStyleDetail{
      margin-left: 20px;
  }

  .springBtn{
    margin-bottom: 50px;
  }

  #nikeAirMaxImg{
      width: 94%;
  }

  
  #nikeAirMax{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
  }

  #nikeAirMaxDetail{
    margin-left: 20px;
  }

  #nikeAirMaxDetail2{
      margin-left: 20px;
  }

  #AirMaxBtn{
    margin-bottom: 50px;
  }

  #newSpringImg{
      display: none;
  }

  #styleForNewStyling{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
    display: none;
  }

  #styleForNewStylingDetail{
      display: none;
      margin-left: 20px;
  }

  #springBtn{
      display: none;
    margin-bottom: 50px;
  }

  #nikeTrailCollectionImg{
      display: none;
  }

  #niketrail{
      width: 90%;
  }

  #nikeTrailCollection{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
    display: none;
  }

  #nikeTrailCollectionDetail{
    margin-left: 50px;
    display: none;
  }
  
  #nikeTrailCollectionDetail2{
      margin-left: 50px;
      display: none;
  }

  .collectionBtn{
      display: none;
  }

  .twoBtn{
      display: none;
    margin-bottom: 50px;
  }

  #braTaizOne{
      width: 94%;
      margin-left: 20px;
      display: flex;
      margin: auto;
      align-items: center;
  }

  #braTaizTwo{
      display: none;
  }

  

  #airZotic{
      display: none;
  }

  #mobileYoga{
      width: 94%;
      margin-left: 20px;
      margin-top: 50px;
  }

  .yogaDescription{
      margin-left: 25px;
      margin-bottom: 50px;
  }

  .yogaDescription p{
      margin-top: -10px;
  }
  
  #yogaP{
      margin-top: 15px;
  }

  #zoom{
      width: 94%;
  }

  #airZotic{
      width: 94%;
  }

  .twoShoses{
      margin-left: 20px;
  }

  #ccc{
      display: none;
  }

  #aaa{
      width: 45%;
      margin-left: 20px;
      margin-bottom: 50px;
      margin-top: 50px;
  }

  #bbb{
      width: 45%;
      margin-bottom: 50px;
      margin-top: 50px;
  }

  #recommandProduction{
      margin-left: 20px;
  }

  #showOne{
      width: 94%;
      margin-left: 10px;
      margin-bottom: 50px;
  }

  #showTwo{
      width: 94%;
      margin-left: 10px;
      margin-bottom: 50px;
  }

  #showThree{
      width: 94%;
      margin-left: 10px;
      margin-bottom: 50px;
  }

  #showFour{
      width: 94%;
      margin-left: 10px;
      margin-bottom: 50px;
  }

  footer{
      background-color: #000000;
      color: #555555;
  }

  .oneDescription{
      display: none;
  }

  .mobileOneDescription{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      padding: 8px 12px;
      size: 30px;
      color: #FFFFFF;
      justify-content: space-around;
      margin-top: 20px;
  }

  .secondDescriptionUl{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  #nikeCopyRight{
      margin-left: -50px;
  }

  #korea{
      color: #FFFFFF;
  }

  .secondDescriptionUl2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #personalDescription{
      margin-left: -50px;
  }

  .thirdDescription{
      size: 10px;
  }

  #online{
      margin-top: 40px;
  }

.cycle-slideshow{
    display: none;
}

#recommandProduction{
    display: none;
}

footer{
    display: none;
}

.threePic{
    display: none;
}



/* 모바일메뉴 */

.checkbtn{
    display: block;
}
.adidasmenu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fefefe;
    top: 55px;
    left: 0px;
    /* left: 0; */
    text-align: center; 

    left: 100%;
    text-align: center;
    transition: all .5s;
}
.adidasmenu li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
.adidasmenu li a{
    font-size: 20px;
    color: black;
}
.adidasmenu a:hover, .adidasmenu a.active{
    background: none;
    color: #666666;
}

}