
*{
    margin: 0px;
    padding: 0px;
    border: orangered dotted 0spx;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}



body{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    flex-direction: row;
}
header img{
    width: 100px;
}

header .header_list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    flex-direction: row;
}


header .header_list li{
    padding: 8px 12px;
    display: inline;
    margin: 0px;
}


header .header_icon{
    list-style: none;
    display: flex;
}
header .header_icon li{
    padding: 8px;
}
.header_icon i{
    font-size: 30px;
}

#check{
    display: none;
}
.checkbtn{
    display: none;
}

.hidden2_box, .hidden3_icon_box{
    display: none;
}


nav{
    border: blue dotted 0px;
    display: flex;
    align-items: center;
}

nav .title{
    /* width: 10%; */
    font-size: 26px;
    position: absolute;
    left: 20px;
}
nav .nav_menu{
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}
nav .nav_menu a{
    padding: 0px 26px
}
a:link{ color:black}
a:visited{color: black}

nav .nav_menu #nav_menu_1st{
    padding-left: 0px;
}
/* section 시작 */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .set{
    width: 100%;
    margin-bottom: 20px;
}

section .set video{
    width: 100%;
}

section figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list_hidden{
    display: none;
}
.buy{
    background-color: peachpuff;
    border-radius: 32px;
    padding: 8px 16px;
    color: whitesmoke;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}
.buy:hover{
    background-color: rgb(90, 90, 90);
    color:whitesmoke;
}

/* section 에어맥스,브라///*/
section img{
    width: 100%;
}
section img:hover{
    opacity: 0.5;
}
/* section 신발두개 */
section .shoe_both{
    display: flex;
    flex-direction: row;
}

section .shoe_both .shoe_left{
    position: relative;
}
section .shoe_both .shoe_left .caption_left{
    position:absolute;
    bottom: 50px;
    left: 50px;
}

 #mobile_shoe{
    display: none;
}
 #desk_shoe{
    display: inline;
}

.caption_left h4{
    color: whitesmoke;
}

section .shoe_both .shoe_right{
    position: relative;
    margin: 0px;
    padding: 0px;
}
picture source{
    flex-grow: 1;
    width: 100%;
}
section .shoe_both .shoe_right .caption_right{
    position:absolute;
    bottom: 50px;
    left: 50px;
}
.caption_right h4{
    color: whitesmoke;
}

/* 이번주 패밀리 룩 */
section .swiper-wrapper{
    display: flex;
}
section .swiper-wrapper div{
    position: relative;
}
section .swiper-wrapper figcaption{
    position: absolute;
    bottom: 20px;
    left: 100px;
}

/* swiper */
h3{
    margin: 30px;
}
.swiper-container{
    height: 400px;
    
}
.swiper-slide{
    background-color:white;
    display:flex; 
    justify-content: center;
    align-items: center;

    display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

/* css */
footer{
    background-color: #000000;
    color: #FFFFFF;
}
footer .oneDescription{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:flex-start;
    margin: 50px;
}
footer .footer1line{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
}
footer .footer2line{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
}
footer .footer2line li{
    size: 8px;
    color: #555555;
}
#customerCenter{
    color: #FFFFFF;
}
footer .footer3line{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
}
footer .footer4line{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
}
#regardingNike{
    size: 8px;
    color: #555555;
}
footer .secondDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.secondDescriptionUl{
    display: inline-flex;
    flex-direction: row;
    padding: 8px 12px;
    size: 8px;
    margin-left: 10px;
}
#nikeCopyRight{
    margin-left: 10px;
    color: #555555;
    size: 8px;
}
.secondDescriptionUl2{
    display: inline-flex;
    flex-direction:row;
    padding: 8px 12px;
    float: right;
    color: #555555;
}
#personalDescription{
    margin-left: 8px;
}
.thirdDescription{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: #555555;
    margin: 50px;
}
.thirdDescription li{
    size: 3px;
}
footer #link{
    color: #FFFFFF;
}
footer #online{
    margin-top: 20px;
}

/* ////////////////////////////////////////////////////////// */
@media screen and (max-width: 960px){

    .set video{
        src: "https://nikevideo.nike.com/72451143001/202103/2596/72451143001_6241867310001_6241866134001.mp4";
    }

    
    .header{
        padding-right: 0px;
    }

    /* /////////// */


    nav{
        margin-top: -3px;
        flex-direction: column;
        /* position: fixed; */
        width: 100%;
        background-color: white;
    }
    
    nav .title{
        width: 100%;
        text-align: start;
        position: static;
    }
    nav .nav_menu{
        width: 100%;
        text-align: start;
    }
    nav .nav_menu a{
        padding: 0px 14px
    }

    /* //////// */
    section .shoe_both{
        display: flex;
        flex-direction: column;
        
    }
     #mobile_shoe{
        display: inline;
    }
     #desk_shoe{
        display: none;
    }

    
    /* 햄버거 */
    nav{
        position: sticky;
        top:-10px;
        z-index: 999;
    }
    .header_icon li{
        margin-right: 20px;
    }
    .checkbtn{
        display: block;
        margin: 0px;
        padding: 0px;

        font-size: 30px;
        float: right;
        margin-right: 40px;
        cursor: pointer; 
        border:0px;

        position: fixed;
        top: 15px;
        z-index: 100000;
    }
    .header_list{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: whitesmoke;
        top: 0px;
        left: 100%;
        text-align: center;
        transition: all .3s;
        z-index: 9999;
        flex-direction: column;
        
    }
    
    .header_list ul li{
        display: block;
        margin: 0;
        /* line-height: 30px; */
        font-size: 24px;
    }
    #check:checked ~div section,
    #check:checked ~div nav,
    #check:checked ~div header img{
        filter: blur(8px);
    }
    #check:checked ~ div header .header_list
    {
        left: 60%;
        text-align: left;
        padding-left: 20px;
        display: inline-flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;  
        filter: blur(0px); 
    }

    

    .hidden2_box, .hidden3_icon_box{
        display: block;
    }

    
    

    .list_hidden{
        display: block;
        width: 30%;
    }

    .hidden2_box h4{
        margin-bottom: 20px;

        width: 60%;
    }
    
    #hidden2{
        display: inline;
        margin: 0px;
    }
    