@font-face {
    font-family: "Noto Sans KR";
    src: url("../NotoSansKR-Regular.otf");
}

/* *{
    border: 1px solid red;
} */

ul, ol{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* =======================header 영역========================= */

#header_div1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;    
    border-bottom: 1px solid grey;
}

#header_div2{    
    display: flex;    
    justify-content: center;    
    padding-top: 20px;
}

#Nike_logo{
    width: 70px;
    height: 30px;
}
#Nike_logo:hover{
    opacity: .5;    
}


/* =====================article 영역======================= */

article{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    margin-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid grey;        
}

#article_title a{
    color: black;
}

#article_title a:hover{
    text-decoration: underline;
}

.article_post{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.article_post a{
    color: grey;
}

.article_post a:hover{
    text-decoration: underline;
}