@media screen and (max-width:960px){

    .container{
        flex-direction: column;
    }

    #header01{
        display: none;        
    }

    header{
        width: 100%;
    }

    #icon_set{
        display: none;
    }

    #icon_set_mobile{
        display: flex;
        margin: 0 10px;
    }

    #header02 .header-bottom-nav{
        display: none;
    }

    #header03_menu {
        display: none;
    }

    #header03{
        display: flex;
        align-items: center;
    }
    #header03 #icon_filter_mobile{
        display: flex;
        width: 15px;
        height: 15px;
        margin: 0 25px;
    }    

    /* .side ul{
        display: flex;
    } */
    .side ul li{
        display: inline-block;        
        padding: 0 10px;
    }

    #main_menu_mobile{
        display: flex;
        justify-content: center;       
    }
    .header-bottom-nav-mobile{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: blanchedalmond;
        padding: 0;     
    }

    .header-bottom-nav-mobile li{
        text-align: center;
    }

    .header-bottom-nav-mobile li:hover{
        background-color: grey; 
             
    }

    .header-bottom-nav-mobile a{
        color: black;
    }

}