@font-face {
    font-family: "Noto Sans KR";
    src: url("../NotoSansKR-Regular.otf");
}

ul, ol{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
}

/* ---------------------header01------------------------ */
#header01{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    background-color: #F5F5F5;
}

#icon_jordan{
    width: 20px;    
}

#top_menu a{
    color: black;
    text-decoration: none;
}
#top_menu a:hover{color: grey;}


/* ---------------------header02------------------------ */
#header02{
    display: flex;
    background-color: yellow;
    justify-content: space-between;    
}
#header02 #Nike_logo, #icon_set{
    padding: 10px 40px 10px 40px;
}
#header02 .header-bottom-nav a{
    color: black;
    text-decoration: none;
}

#Nike_logo{
    width: 70px;
    height: 30px;
}
#Nike_logo:hover{
    opacity: .5;    
}
#icon_set{
    display: flex;
}
#icon_set input{
    width: 140px;
    height: 20px;
}
.icon{
    width: 30px;
    height: 30px;    
}

/* ---------------------header03------------------------ */
#header03{
    display: flex;
    background-color: cornflowerblue;
    justify-content: space-between;
}

#header03_title{
    font-size: 20px;
}

#header03_menu{
    padding: 30px 40px 10px 40px;
}

#header03_menu a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
#header03_menu a:hover{
    color: grey;
}



/* ---------------------bnv 구현------------------------------ */
header .header-bottom-nav{
    width:100%; height:20px;
	display:flex;	
	justify-content: center;
	-ms-flex-pack: end;
	position:relative;
    font-size: 20px;
}

.header-bottom-nav li a:hover {
    text-decoration: underline;
}
.header-bottom-nav-sub-menu-container {
	position: absolute;
	z-index:3;
	width:100%; height:0px;/*기본값 170px;*/
	overflow:hidden;
	transition:all 0.5s;
	background:white;
}
.header-bottom-nav-sub-menu-bg {
	margin:0 auto;	
    width:700px; height:195px;
	position:relative;	
	font-size:15px;
}
/*각 서브메뉴 정렬*/
#header-bottom-nav-sub-menu {
    display:inline-block;
	position:absolute;
	line-height:30px;
}
#header-bottom-nav-sub-menu a {
    color:black;	
}
#header-bottom-nav-sub-menu a:hover {
    color: black;
    text-decoration:underline;   
}
.header-bottom-nav-sub-menu1 {
    left:3%;
}
.header-bottom-nav-sub-menu2 {
    left:17%;
}
.header-bottom-nav-sub-menu3 {
    left:38%;
}
.header-bottom-nav-sub-menu4 {
    left:52%;
}
.header-bottom-nav li {	
	width:124px;
	position:relative; 	
}
.header-bottom-nav li:nth-child(5){
	width:96px;
}


/* ----------------------------container------------------- */

/* 왼쪽사이드와 본문영역을 가진 부모요소 */
.container{
    display: flex;    
    /* 브라우저가 작아지면 양옆으로 놓을 공간이 없을때 */
    /* 자동으로 다음줄로 내려가도록...flex-wrap */
    flex-wrap: wrap;
}

aside.side{
    flex: 1;
    background-color: wheat;
    padding: 0px 48px;
}

aside.side ul{
    list-style: none;
    padding-left: 0px;
}

aside.side li{padding: 7px 0px;}
aside.side li a{color: black; text-decoration: none;}
aside.side li a:hover{color: grey;}


.main{
    flex: 9; /*너비 9할 : 축약형*/
    background-color: white;
    padding: 0px 20px 20px 20px;
}
.main div.product{
    display: inline-block;
    margin: 24px 12px;
}
.main img{    
    width: 440px;
    display: block;
    margin-bottom: 12px;  
}
.main img:hover{
    opacity: .5;
}
.main div.product p{
    padding: 0px;
    margin: 0px;    
}

.main div.product p.productName{display: inline;}
.main div.product p.productPrice{float: right;}


/* footer */
footer{
    padding: 20px;    
    background-color: black;
    color: white;
    width: 97.9%;
    font-size: 13px; 
}

footer a{
    text-decoration: none;
}

footer ul{
    list-style: none;
}

#footer01, #footer03{    
    display: flex;
    justify-content: center;
}

#footer01 ul{
    margin: 20px 60px;
}

#footer01 .footer01_ul01 a{
    color: white;
}

#footer01 .footer01_ul a, #footer02 a{
    color: grey;
}
#footer01 .footer01_ul a:hover{
    color: white;
}

#footer02{
    display: flex;
}

#footer02 p{
    display: flex;    
}

#footer02 div{    
    margin: 0 0 0 auto;
    display: flex;
}

#footer02 #p2>a, #p3>a{
    margin: 0 10px;
}

.li_social{
    float: left;
}

.icon_social{
    background-color: grey;
    width: 20px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
}

#footer03 p{
    margin: 0px 20px;
}
