@font-face {
    font-family: "Noto Sans KR";
    src: url("../NotoSansKR-Regular.otf");
}

ul, ol{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
}

body #notice{
    background-color: yellow;
    padding: 5px;
    height: 80px;
}

body #notice #logo{
    width: 50px;
    padding: 16px 48px;    
}


header{    
    /* display: flex; */
    height: 100px;
    padding: 0px 48px; 
}

header a{
    color: black;
    text-decoration: none;    
}
header a:hover{color: grey;}
header h2{padding: 0px; margin: 0px;}

/* bnv 구현 */
header .header-bottom-nav{
    width:100%; height:20px;
	display:flex;	
	justify-content: center;
	-ms-flex-pack: end;
	position:relative;
    font-size: 20px;
}

.header-bottom-nav li a:hover {
    text-decoration: underline;
}
.header-bottom-nav-sub-menu-container {
	position:absolute;
	z-index:3;
	width:1800px; height:0px;/*기본값 170px;*/
	overflow:hidden;
	transition:all 0.5s;
	background:white;
}
.header-bottom-nav-sub-menu-bg {
	margin:0 auto;	
    width:700px; height:195px;
	position:relative;	
	font-size:15px;
}
/*각 서브메뉴 정렬*/
#header-bottom-nav-sub-menu {
    display:inline-block;
	position:absolute;
	line-height:30px;
}
#header-bottom-nav-sub-menu a {
    color:black;	
}
#header-bottom-nav-sub-menu a:hover {
    color: black;
    text-decoration:underline;   
}
.header-bottom-nav-sub-menu1 {
    left:130px;
}
.header-bottom-nav-sub-menu2 {
    left:230px;
}
.header-bottom-nav-sub-menu3 {
    left:370px;
}
.header-bottom-nav-sub-menu4 {
    left:480px;
}
.header-bottom-nav li {	
	width:124px;
	position:relative; 	
}
.header-bottom-nav li:nth-child(5){
	width:96px;
}



/* 왼쪽사이드와 본문영역을 가진 부모요소 */
.container{
    display: flex;
    /* 브라우저가 작아지면 양옆으로 놓을 공간이 없을때 */
    /* 자동으로 다음줄로 내려가도록...flex-wrap */
    flex-wrap: wrap;
}

aside.side{
    flex: 1;
    background-color: wheat;
    padding: 0px 48px;
}

aside.side ul{
    list-style: none;
    padding-left: 0px;
}

aside.side li{padding: 7px 0px;}
aside.side li a{color: black; text-decoration: none;}
aside.side li a:hover{color: grey;}


.main{
    flex: 9; /*너비 9할 : 축약형*/
    background-color: white;
    padding: 0px 20px 20px 20px;
}
.main div.product{
    display: inline-block;
    margin: 24px 8px;
}
.main img{    
    width: 500px;
    display: block;
    margin-bottom: 12px;  
}
.main div.product p{
    padding: 0px;
    margin: 0px;    
}

.main div.product p.productName{display: inline;}
.main div.product p.productPrice{float: right;}


/* footer */
footer{
    padding: 20px;    
    background-color: black;
    color: white;
    width: 97.9%;
    font-size: 13px; 
}

footer a{
    text-decoration: none;
}

footer ul{
    list-style: none;
}

#footer01, #footer03{    
    display: flex;
    justify-content: center;
}

#footer01 ul{
    margin: 20px 60px;
}

#footer01 .footer01_ul01 a{
    color: white;
}

#footer01 .footer01_ul a, #footer02 a{
    color: grey;
}
#footer01 .footer01_ul a:hover{
    color: white;
}

#footer02{
    display: flex;
}

#footer02 p{
    display: flex;    
}

#footer02 div{    
    margin: 0 0 0 auto;
    display: flex;
}

#footer02 #p2>a, #p3>a{
    margin: 0 10px;
}

#footer03 p{
    margin: 0px 20px;
}


/* 반응형 웹 - 미디어쿼리 문법 */
@media screen and (max-width:800px){
    .container, nav{
        flex-direction: column;
    }
}
