header div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header .notification{
    margin-top: 30px;
}

#notification{
    margin-left: 10px;
}

article h1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
