*{
    margin: 0px;
    padding: 0px;
    /* border: 1px dotted red; */
    
}
@font-face{
    font-family: "p font";
    src: url("../font_lee/paybooc\ Medium.ttf.ttf");
}

@font-face{
    font-family: "h font";
    src: url("../font_lee/paybooc\ Bold.ttf.ttf.ttf");
}

.only_mobile{
    display: none;
}

a{
    text-decoration-line: none;
}

#container{
    display: flex;
    flex-direction: column;
}

article>*{
    margin-bottom: 100px;
    padding-bottom: 0px;
    text-align: center;
}

p{
    font-family: 'p font', sans-serif;
}

h4{
    color: black;
    text-align: start;
    background-color: white;
    padding-bottom: 0px;
}

h1, h2, h3, h4, h5{
    font-family: 'h font', sans-serif;
    margin: 80px 0px 30px 0px;
    
}
h1{
    font-weight: bold;
}

li{
    list-style: none;
    color: black;
}
header li{
    margin-left: 5px;
    margin-right: 5px;
}

nav li{
    margin-left: 10px;
    margin-right: 10px;
}
header{
    background-color:#eeeeee;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#jordon_logo{
    padding: 7px;
    height: 100%;
}

#nike_logo{
    width: 70px;
    align-self: center;
    flex: 1;
}

.icon{
    width: 25px;
}

.main-image{
    width: 100%;
}

/* .style-magazine{
    display: flex;
    justify-content: space-between;
} */

#style-magazine{
    display: flex;
    justify-content: space-around;
}

.style-magazine-image{
    width: 100%;
}

#option_menu_region_tablet{
    display: none;
}

.trending-now-image{
    display: inline-block;
    width: 100%;
    position: relative;
}

article{
    padding: 0px 50px;
}

.trending-now-container{
    display: flex;
    flex-direction: row;
}

#apparel_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
}

#apparel_container img{
    width: 100%;
}

#sub_menu{
    font-size: small;
    display: flex;
    margin-right: 40px;
    margin-top: 5px;
    align-self: flex-start;
}


.logo_a{
    margin-left: 40px;
}

li a{
    text-decoration-line: none;
    color: black;
}

li a:hover{
    color: #666666;
}

#search_box{
    width: 180px;
    background-color: #eeeeee;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration-line: none;
    color: #888888;
}

#search_box:hover{
    background-color: #dddddd;
}

#search_box span{
    display: flex;
    align-items: center;
}

#search_box img{
    margin-left: 10px;
}

#search_box p{
    font-size: medium;
    align-self: initial;
    margin-top: 15px;
    margin-left: 10px;
}

#option_menu_region{
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

nav{
    /* position: relative; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav ul{
    align-items: center;
    height: 100%;
}

#option_menu_region>*{
    margin:0px 10px;
}

nav *{
    display: flex;
}

.sale_button{
    border: 1px dotted blue;
    padding: 7px 20px;
    width: 200px;
    height: 100px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    color: white;
    background-color: black;
    text-decoration-line: none;
    font-family: 'p font', sans-serif;
}

.sale_button:hover{
    color: white;
    background-color: #444444;
}

.sale_button_in_image{
    position: absolute;
    bottom: 50px;
    background-color: white;
    color: black;
    padding:10px 20px;
    border-radius: 25px;
    text-decoration-line: none;
    font-family: 'h font', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.sale_button_in_image:hover{
    color: black;
    background-color: #eeeeee;
}

#sale_button_in_trending1{
    left: 50px;
}
#sale_button_in_trending2{
    right: 100px;
}

#season_best{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 100px;
}

.button_in_carousel1{
    position: absolute;
    right: 17%;
    bottom: 15%;
    color: white;
    text-decoration-line: none;
    font-size: 25px;
    text-align: end;
}

.button_in_carousel1 a{
    color: white;
    border: 1px solid white;
    padding: 7px 14px;
    font-size: 14px;
    text-decoration-line: none;
    margin-top: 0px;
}

.button_in_carousel2{
    position: absolute;
    left: 17%;
    top: 40%;
    color: white;
    text-decoration-line: none;
    font-size: 25px;
    text-align: start;
}

.button_in_carousel2 a{
    color: white;
    border: 1px solid white;
    padding: 7px 14px;
    font-size: 14px;
    text-decoration-line: none;
    margin-top: 0px;
}

.button_in_carousel3{
    position: absolute;
    left: 17%;
    bottom: 20%;
    color: white;
    text-decoration-line: none;
    font-size: 25px;
    text-align: start;
}

.button_in_carousel3 a{
    color: white;
    border: 1px solid white;
    padding: 7px 14px;
    font-size: 14px;
    text-decoration-line: none;
    margin-top: 0px;
}

.product_explanation{
    margin-bottom: 30px;
}


.trending-now-comment{
    
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: end;
}

.trending-now-comment p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.trending-now-comment a:last-child{
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
}

.trending-now-comment a:last-child:hover{
    color: #eeeeee;
    padding: 5px 10px;
    border: 1px solid white;
}

footer{
    background-color: black;
    color: #888888;
    font-size: 11px;
}

footer li{
    color: white;
}

footer ul:first-child a{
    color: white;
}

footer div:first-child{
    display: flex;
    justify-content: center;
}

footer ul a:hover{
    color: white;
}
footer ul{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

footer li{
    margin:7px 3px;
}

footer a{
    color: #888888;
}

footer img{
    width: 25px;
    border-radius: 12.5px;
    background-color: #888888
}
footer img:hover{
    background-color: white
}

footer ul:last-child li{
    display: inline-block;
}

footer ul:last-child li:first-child{
    display: block;
}

#information_region{
    display: flex;
    padding-top: 50px;
}

#infromation_region ul:first-child{
    color: white;
}

footer>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
footer div:nth-child(2) img{
    background-color: black;
    width: 20px;
}
footer div:nth-child(2) a{
    margin-right: 10px;
}

footer div:nth-child(2) a:hover{
    color: white;
}

footer>div:last-child{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer>div:last-child a{
    color: white;
}
footer>div:last-child>div:first-child{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

footer>div:last-child>div:last-child{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
footer>div:last-child>div:first-child p{
    display: inline;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
}
footer>div:last-child>div:last-child p{
    margin-bottom: 0px;
}

.feature_shoes_container{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.feature_shoes_container img{
    width: 450px;
}

.feature_shoes_container a{
    scroll-snap-align: start;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.feature_item{
    text-align: start;
}

.feature_item p{
    color: black;
    margin-bottom: 5px;
    margin-left: 10px;
}

.feature_item_title{
    font-weight: bold;
    font-size: 18px;
}

.feature_shoes_container::-webkit-scrollbar {
    height: 12px;
    width: 100px;
  }
.feature_shoes_container::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

.feature_shoes_container::-webkit-scrollbar-thumb:active {
    background-color: #333333;
  }

.feature_shoes_container::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
    margin-left: 100px;
    margin-right: 100px;
}